#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  padding: 100px;
  border: 1px solid rebeccapurple;
  border-radius: 20px;
  background-color: rebeccapurple;
}

.ball-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 30px;
}

.ball {
  border: 1px solid white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  vertical-align: middle;
  font-size: 24px;

}

.ball p {
  margin: 0;
  line-height: 45px;
}

.ball:nth-child(1) {
  background: chocolate;
}

.ball:nth-child(2) {
  background: rgb(30, 78, 210);
}

.ball:nth-child(3) {
  background: rgb(210, 30, 162);
}

.ball:nth-child(4) {
  background: rgb(247, 0, 29);
}

.ball:nth-child(5) {
  background: rgb(34, 172, 43);
}